body {
    margin: 0;
    padding: 0;
    /* background-color: #e0e0e0; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.section {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 50px;
    margin: 5%;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    
}

p {
    color: rgb(66, 66, 66);
    font-size: xx-large;
    font-weight: bold;
}

.img {
    width: 90%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.img img {
    width: 250px;
    height: 250px;

}

header {
    background-color: white;
    margin: 0;

    text-align: center;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    box-shadow: 2px 2px 5px #bebebe;
    padding: 2% 0;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    img {
        width: 20px;
    }
}

input[type='search']{
    width: 95%;
    border-radius: 10px;
    padding: 7px;
    padding-left: 40px;
    margin: auto;
    border: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.1);
    color: Black;
    background-image: url('assets/static/search\ \(1\).png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 1%;

}